/*
Version: 1.0
Last edited by: Natalia Pakhomova
Last edit date: 14/10/2023
Main layout
*/


// Page background color
.page {
    background-color: #F2F2F2;
}

// Header background color
.header {
    background-color: #FFFFFF;
}

// Footer background color
.footer {
    background-color: #ddd;
}

